streamlit==1.33.0
pandas==2.2.1
seaborn==0.13.2
matplotlib==3.8.3
scikit-learn==1.4.1
xgboost==2.0.3
mlxtend==0.23.1
optuna==3.6.1
langchain==0.1.13
langchain-core==0.1.32
langchain-google-genai==0.0.8
google-generativeai==0.3.2
protobuf==4.25.1
